*.*
*
!*/
!Makefile
!*.mk
!*.scala
!*.[cSh]
!*.v
!*.cpp
!*.cc
!.gitignore
!.scalafmt.conf
!build.sc
!*.md
!*.drawio
!.clangd
build/
!Kconfig
verilator/include/config
verilator/include/generated

# mill
out/
.bsp/
.idea/
.idea_modules/
test_run_dir/
.metals/
