*.*
*
!*/
!.gitignore

#project
!Makefile
!*.mk
!*.scala
!*.[chv]
!*.cpp
!*.cc
!.scalafmt.conf
!build.sc
!.clangd
!Kconfig
!firtool*
!*.py

#docs
!*.png
!*.md
!*.drawio
!*.csv

# verilator
build/
verilator/include/config
verilator/include/generated

# mill
out/
.bsp/
.idea/
.idea_modules/
test_run_dir/
.metals/
